.header {
    margin-top: 10rem;
}

.container .first {
    width: 33rem;
    height: aut;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.container .first h1 {
    color: #091133;
}

.container .first p {
    color: #505F98;
}

.button {
    display: flex;
    gap: 1.8rem;
}

button {
    width: 11.8rem;
    height: 2.25rem;
    padding: 0 0.3rem;
    border-radius: 0.1rem;
}

.firstButton {
    background-color: #111B47;
    color: #FFFFFF;
}

.secondButton {
    color: #091133;

}

.second {
    width: 30.3rem;
    height: auto;
}

.second img {
    width: 100%;
}